---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Blog from "@/components/Blog.astro"
import Hero from "@/components/Hero.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Streaming from "@/components/Streaming.astro"
import Book from "@/components/icons/Book.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Video from "@/components/icons/Video.astro"
---

<Layout
  title="Página web de Guido Risso - Influencer HR"
  description="HR Tech | HR Generalist | People Analytics | Using technology and data to make HR better"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="sobre-mi">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-white"
        >
          <ProfileCheck class="size-8" />
          Sobre mí
        </h2>
        <AboutMe />
    </SectionContainer>
    <SectionContainer id="blog">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-white"
      >
        <Book class="size-8" />
        Blog
      </h2>
      <Blog />
    </SectionContainer>
    <SectionContainer id="streaming">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-white"
      >
        <Video class="size-8" />
        Streaming
      </h2>
      <Streaming />
    </SectionContainer>
    </div>
  </main>
</Layout>
