---
import BlogItem from "./BlogItem.astro"
import { basics , blog } from "datos.json";
import SocialPill from "./SocialPill.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
const { name, avatar, newsletter } = basics

---
<header>
  <p class="mb-4 text-gray-300">
    Si te gusta mi contenido no te olvides de suscribirte a mi <b>newsletter</b>.
  </p>
  <SocialPill href={newsletter}>
    <LinkedInIcon class="size-4" />
    Suscribir
  </SocialPill>
</header>

<ol class="relative mt-16">
  {
    blog.map((BLOG) => (
      <li class="">
        <BlogItem {...BLOG} />
      </li>
    ))
  }
</ol>
